#select{
	height:100px;
}
ul{
	float:left;
}
ul li{
	height:300px;
	width:280px;
	border:2px black double;
	list-style:none;
	
	
}
#a1{
	border:2px black double;
	height:230px;
	width:270px;
}
#a2 p{
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}
#img{
	height:100%;
	width:100%;
}